@import "./base/reset";
@import "./base/variables";
@import "./base/mixins";

@import "./layout/header";
@import "./layout/category";
@import "./layout/footer";

body {
    font-family: $font;
    min-height: 100vh;
}

button {
    cursor: pointer;
}
